@import '../../assets/style/border.scss';
@import '../../assets/style/theme.scss';

.container{
    .nav{
        height: .44rem;
        @include border(#ccc,0 0 1px 0);
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            font-size: .15rem;
            color: #666666;
            font-weight: bold;
            line-height: .44rem;
            padding: 0 .1rem;
            &.active{
                color: $theme;
                border-bottom: 3px solid $theme 
            }
        }
    }
}